body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', monospace, sans-serif;
    margin-top: 2%;
}
form{
    max-width: 550px;
    margin: 0 auto;
    border: 2px solid gray;
    border-radius: 3px;
}
form h1{
    text-align: center;
    font-size: medium;
}
.info{
    margin-left: 20px;
    margin-right: 20px;
    background-color: #e6e6e6;
    margin-top: -5px;
}
.info p{
    background-color: gray;
    font-size: smaller;
    font-weight: bold;
    padding-left: 5px;
    color: white;
}
.info table{
    width: 100%;
    margin-top: -20px;
    padding-bottom: 5px;
    border: 0px solid gray;
}
.text{
    padding-left: 5px;
    font-size: x-small;
}
.info table input{
    margin-left: 50px;
    height: 20px;
    font-size: smaller;
    background-color: #bee2e4;
    border: 3px solid #65aed6;
}
input[type="radio"]{
    transform: scale(1.5);
    cursor: pointer;
}
input[type="submit"]{
    width: 25%;
    margin: 10px 37.5%;
    cursor: pointer; 
    border: 3px solid gray;
}
input[type="submit"]:hover{
    background-color: #bee2e4;
    border: 3px solid #65aed6;
}
